.Objetivos {
    font-size: 1.5em;
    color: #464e6d;
    font-family: "Leelawadee Regular";
    text-align: left;
}

.Objetivos .textObjetivos {
    margin-top: 3em;
    margin-bottom: 3em;
}

.Objetivos .seccionImg{
    background: #464e6d;
}

.Objetivos .seccionImg .img{
    display: flex;
}

.Objetivos .seccionImg .img img{
    width: 100%;
}

.Objetivos .seccionBarniz {
    padding: 0 1em;
    background: #d3edf1;
    margin-bottom: 5em;
}

.seccionBarniz .sBarniz {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccionBarniz .sBarniz .img{
    display: flex;
    width: 50%;
}

.seccionBarniz .sBarniz .img img {
    width: 70%;
    /* margin: 0 auto; */
}

.seccionBarniz .sBarniz .textSeccion {
    width: 70%;
}

@media screen and (max-width: 858px) {
    .Objetivos {
        font-size: 1em;
        text-align: justify;
    }

    .seccionBarniz .sBarniz {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .seccionBarniz .sBarniz .img img {
        width: 100%;
        margin: 1em 0 0;
    }
    
    .seccionBarniz .sBarniz .textSeccion {
        width: 100%;
    }
}